.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    background-color: aliceblue;
    width: 30%;
    float: left;
    display: flex;
    flex-direction: column;
}
.content {
    float: right;
    width: 80%;
    background-color:deepskyblue;
}