.login_form {
  max-width: 400px;
  background-color: #008080;
  margin: 5rem auto;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login_form input {
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.login_form button {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #ffffff;
  color: teal;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login_form button:hover {
  background-color: #e0f7f7;
}
