.graph {
    background-color:purple;
    display:flex;
    width: 30vw;
    height: 30vw;
    align-items: flex-end;
    flex-direction: row;
}

.graphSegment {
    position:relative;
    bottom:0;
    background-color:blanchedalmond;
    width: 10%;
}